@font-face {
    font-family: 'icomoon';
    src: 
        url('../../assets/font/icomoon.eot') format('eot'),
        url('../../assets/font/icomoon.svg') format('svg'),
        url('../../assets/font/icomoon.woff') format('woff'),
        url('../../assets/font/icomoon.ttf') format('ttf');
    font-weight: 600;
    font-style: normal;
}